block nav
.nav.text-white
	.container
		.row
			.col-md-3
				h1 
					a(href='/') ChaRoom
			|
			|
			.col-md-7.text-center
				ul.nav-center
					li
						a(href='#') Room
					li
						a(href='/chat') Chat
					li
						a(href='/#about') About
					li 
						a(href='#') Tutorial
					li
						a.myProfile(href='/#profile') My profile
			|
			|
			.col-md-2.text-center.text-md-right
				ul.nav-right
					li
						a(href='#') Log in
					li
						a.signup(href="#") Signup