block nav
.nav.text-white
	.container
		.row
			.col-2
				h1 
					a(href='/') ChaRoom
			|
			|
			.col-8.text-center
				ul.nav-center
					li
						a(href='#') Room
					li
						a(href='/chat') Chat
					li
						a(href='#') About
					li 
						a(href='#') Tutorial
			|
			|
			.col-2.text-right
				ul.nav-right
					li
						a(href='#') Log in
					li
						a.signup(href="#") Signup